@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 

html{
  @apply scroll-smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	display: inline-block;
}

body {
	line-height: 1.6;
      font-family: 'Barlow', sans-serif;
      overflow-x: hidden;
}

h1,h2,h3, .learn-more, .learn-more-2, .author{
          font-family: 'Fraunces', serif;
}

.author{
  @apply font-extrabold text-xl;
}


.btn {
	display: inline-block;
	border: 0;
	padding: .5em 1.5em;
	font-size: 1.125rem;
	font-weight: 700;
	transition: 250ms;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2.5rem;
}

.flow-content--s > * + *  {
	margin-top: .5rem !important;
}
.flow-content--m > * + *  {
	margin-top: 1rem !important;
}
.flow-content--xm > * + *  {
	margin-top: 1.5rem !important;
}
.flow-content--l > * + *  {
	margin-top: 3rem !important;
}
.flow-content--xl > * + *  {
	margin-top: 3.5rem !important;
}


.learn-more::after {
content: '';
  position: absolute;
  bottom: .2rem;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fad400;
  opacity: 0.3;
  border-radius: 10rem;
  z-index: -1;
  transition: .3s;
}

.learn-more:hover::after{
  opacity: 1;
}


.learn-more-2::after {
content: '';
  position: absolute;
  bottom: .2rem;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #fe7867;
  opacity: 0.3;
  border-radius: 10rem;
  z-index: -1;
  transition: .3s;
}

.learn-more-2:hover::after{
  opacity: 1;
}

footer .logo {
filter:   invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg) brightness(95%) contrast(92%);
}

@media screen and (max-width: 34.375em) {
  html{
    font-size: 75%;
  }
}